<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-prescription</title>
</head>
<body>
    <div>
        <p>date: <span id="current_date"></span></p>
        <p>time: <span id="current_time"></span></p>
    </div>
    
    <div>
        <p> Doctor id: <%= doctor_id %></p>
        <p> Doctor Name: <%= doctor_name %></p>
        <p> Hospital Name: <%= hospital_name %></p>
    </div>
    <!-- 
    new patient?
    patient details
    medicine enter
    prescription -->
    <script src="js/index.js" charset="utf-8"></script>
</body>
</html>