<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-prescription</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel='stylesheet' href='style.css'>
</head>
<body>
    <form action="/">
        <div>
            <p>date: <span id="current_date"></span></p>
            <p>time: <span id="current_time"></span></p>
        </div>
        <br>
        <fieldset>
            <legend>Doctor Information</legend>
            <div>
                <p> Doctor id: <%= doctor_id %></p>
                <p> Doctor Name: <%= doctor_name %></p>
                <p> Hospital Name: <%= hospital_name %></p>
            </div>
        </fieldset>
        <br>
        <div>
            <label for="">new patient? </label>
            <input type="checkbox" name="" id="">
        </div>
        <br>
        <fieldset>
            <legend>Patient Information</legend>
            <div>
                <div>
                    <label for="">Patient id</label>
                    <input type="text" name="" id="">
                </div>
                
                <div>
                    <label for="">Patient name</label>
                    <input type="text" name="" id="">
                </div>

                <div>
                    <label for="">Date of birth:</label>
                    <input type="date" name="" id="">
                </div>

                <div>
                    <label for="address">address</label>
                    <textarea name="address" id="address" cols="30" rows="10"></textarea>
                </div>
                
                <div>
                    <label for="">symptoms</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                
                <div>
                    <label for="">diagnosis</label>
                    <input type="text" name="" id="">
                </div> 
            </div>
        </fieldset>
        <br>
        <fieldset>
            <legend>Enter medicine</legend>
            <div>
                <div>
                    <label for="">medicine name</label>
                    <input type="text" name="" id="">
                </div>
                <div>
                    <label for="">concentration</label>
                    <input type="text" name="" id="">
                </div>
                <div>
                    <label for="">dosage</label>
                    <input type="text" name="" id="">
                </div>
                <div>
                    <label for="">quantity</label>
                    <input type="text" name="" id="">
                </div>
                <div class="">
                    <button type="submit" href="/">Add</button>
                </div>
            </div>
            <h3>Prescription: </h3>
        
            <div>
            
            </div>
        </fieldset>
        <br>
        <div>
            <label for="">Notes</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="">
            <button type="submit" href="/">Confirm</button>
        </div>
    </form>
    <script src="js/index.js" charset="utf-8"></script>
</body>
</html>