<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-prescription</title>
</head>
<body>
    <div>
        <p>date: <span id="current_date"></span></p>
        <p>time: <span id="current_time"></span></p>
    </div>
    <br>
    <h2>Doctor details</h2>
    <div>
        <p> Doctor id: <%= doctor_id %></p>
        <p> Doctor Name: <%= doctor_name %></p>
        <p> Hospital Name: <%= hospital_name %></p>
    </div>
    <br>
    <div>
        <label for="">new patient? </label>
        <input type="checkbox" name="" id="">
    </div>
    <br>
    <h2>Patient details</h2>
    <div>
        <div>
            <label for="">Patient id</label>
            <input type="text" name="" id="">
        </div>
        
        <div>
            <label for="">Patient name</label>
            <input type="text" name="" id="">
        </div>

        <div>
            <label for="">Date of birth:</label>
            <input type="date" name="" id="">
        </div>

        <div>
            <label for="">address</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        
        <div>
            <label for="">symptoms</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        
        <div>
            <label for="">diagnosis</label>
            <input type="text" name="" id="">
        </div> 
    </div>
    <br>
    <h2>Enter medicine</h2>
    <div>
        <div>
            <label for="">medicine name</label>
            <input type="text" name="" id="">
        </div>
        <div>
            <label for="">concentration</label>
            <input type="text" name="" id="">
        </div>
        <div>
            <label for="">dosage</label>
            <input type="text" name="" id="">
        </div>
        <div>
            <label for="">quantity</label>
            <input type="text" name="" id="">
        </div>
        <div class="">
            <button type="submit" href="/">Add</button>
        </div>
    </div>
    <h2>Prescription</h2>
    <div>
        
    </div>
    <br>
    <div>
        <label for="">Notes</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="">
        <button type="submit" href="/">Confirm</button>
    </div>

    <script src="js/index.js" charset="utf-8"></script>
</body>
</html>